*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    padding: 4px;
}